server:
  port: 8081
#配置数据库连接信息
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://7LYQTPBGIX32UGR:3306/education?characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: root
    password: root
  data:
    elasticsearch:
      #连接的集群名称
      cluster-name: my-application
      #连接的集群节点
      cluster-nodes: 192.168.1.21:9300
  elasticsearch:
    rest:
      uris: http://192.168.1.21:9200
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
management:
  health:
    elasticsearch:
      enabled: false
