<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="empForm" class="form-horizontal">
    <div class="form-group">
        <label for="inputEmpName" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputEmpName" name="empName">
        </div>
        <label for="inputEmpPay" class="col-sm-2 control-label">薪资</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputEmpPay" name="pay">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmpMotto" class="col-sm-2 control-label">格言</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputEmpMotto" name="motto">
        </div>
        <label for="inputEmpSex" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="inputEmpSex" name="sex">
        </div>
    </div>
</form>
</body>
</html>