<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <form id="carForm" method="post">
            <input type="hidden" name="carId" id="carId">
            <table>
                <tr>
                    <td>车名称</td>
                    <td>
                        <input type='text' name='carName' id="carName" class='form-control'>
                    </td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td>
                        <input class="form-control" name="typeName" id="typeName"></input>
                    </td>
                </tr>
                <tr>
                    <td>价格</td>
                    <td>
                        <input type='text' name='carPrice' id="carPrice" class='form-control'>
                    </td>
                </tr>
                <tr>
                    <td>出厂日期</td>
                    <td>
                        <input type='text' name='carDate' id="carDate" class='form-control date'>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>