<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="userForm">
    <div class="form-group">
        <input type="hidden" name="id" id="id">
        <label for="ming">姓名</label>
        <input type="text" class="form-control" id="ming" placeholder="请输入" name="name">
    </div>
    <div class="form-group">
        <label>简介</label>
        <input type="text" class="form-control" id="score" name="content">
    </div>
    <div class="form-group">
        <label>发出时间</label>
        <input type="text" class="form-control date" id="date" name="time">
    </div>
    <div class="form-group">
        <label>班级</label>
        <input type="text" class="form-control" id="miao" name="lname">
    </div>
</form>
</body>
<script type="text/javascript">
    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
</script>
</html>