<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="../js/bootstrap/bootstrap3/css/bootstrap-theme.css">

    <!-- 引入jquery文件 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的js文件 -->
    <script type="text/javascript" src="../js/bootstrap/bootstrap3/js/bootstrap.min.js"></script>

    <!-- 引入表格的css和js文件 -->
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="../js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <!-- 引入弹框的js文件 -->
    <script src="../js/bootstrap/bootstrap-bootbox/bootbox.js"></script>

    <!-- 引入日期得css和js文件 -->
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
    <table id="mytable" class="table"></table>
</body>
<script type="text/javascript">
    $(function () {
        inittable()
    })

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,//同步，默认是：异步
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function openadd(){
        bootbox.dialog({
            title:'添加音乐信息',
            message: createAddContent("/test/toadd"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:"/test/addmusic",
                            type:"post",
                            data:$("#myform").serialize(),
                            success:function () {
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "新增成功！！！",
                                    callback: function(){
                                        sou()
                                    }
                                });

                            }
                        })
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }
    function openxg(id){
        bootbox.dialog({
            title:'修改评论信息',
            message: createAddContent("/test/toadd"),//弹框内容
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        //提交表单数据：保存
                        $.ajax({
                            url:"/test/addmusic",
                            type:"post",
                            data:$("#myform").serialize(),
                            success:function () {
                                bootbox.alert({
                                    size: "small",
                                    title: "提示",
                                    message: "新增成功！！！",
                                    callback: function(){
                                        $("#mytable").bootstrapTable("refresh")
                                    }

                                });

                            }
                        })
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
        $.ajax({
            url:"/test/findmusicById",
            type:"get",
            data:{id:id},
            success:function (data) {
                $("#id").val(data.id);
                $("#mc").val(data.musicname);
                $("#author").val(data.author);
                $("#launchtime").val(data.launchtime);
                $("#price").val(data.price);
                $("#info").val(data.info);
            }
        })
    }
    function delmusic(id) {
        $.attr({
            url:"/test/delmusic",
            data:{id:id},
            success:function () {
                $("#mytable").bootstrapTable("refresh")
            }
        })
    }
    function inittable() {
        $("#mytable").bootstrapTable({
            url:"/test/initmusic",
            columns:[
                {field:"id",title:"编号"},
                {field:"musicname",title:"音乐名称"},
                {field:"author",title:"作者"},
                {field:"launchtime",title:"发布时间"},
                {field:"price",title:"价格"},
                {field:"info",title:"描述"},
                {field:"cz",title:"操作",formatter:function (value,rows,index) {
                        return '<button type="button" onclick="delmusic('+row.id+')" class="btn btn-success glyphicon glyphicon-search">删除</button>|<button type="button" onclick="openxg('+row.id+')" class="btn btn-success glyphicon glyphicon-search">修改</button>'
                    }}
            ],
            pagination:true,
            pageSize:5,
            pageList:[5,10,15,20],
            pageNumber:1,
            sidePagination:'server',
            queryParams:function(){
                return {
                    page:this.pageNumber,//第几页
                    rows:this.pageSize,//每页条数x
                    musicname:$("#pname").val(),
                    mindate:$("#min").val(),
                    maxdate:$("#max").val()
                };
            }
        })
    }

</script>
</html>