<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.TestDao">
    <insert id="saveCar" useGeneratedKeys="true" keyProperty="carId">
        insert into t_car(carName,typeName,carPrice,carDate)
        values (#{carName},#{typeName}#{carPrice}#{carDate})
    </insert>
    <update id="updCar">
        update t_car set carName = #{carName},typeName = #{typeName},carPrice = #{carPrice},carDate = #{carDate}
    </update>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_train
    where id = #{id}
  </delete>

    <insert id="insert" parameterType="com.jk.pojo.Train" >
    insert into t_train (id, trainname, tname,
      start, end, price,
      info, time)
    values (#{id,jdbcType=INTEGER}, #{trainname,jdbcType=VARCHAR}, #{tname,jdbcType=VARCHAR},
      #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
      #{info,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>

    <select id="selectByPrimaryKey" resultType="com.jk.pojo.Train" parameterType="java.lang.Integer" >
        select * from t_train
        where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.Train" >
    update t_train
    set trainname = #{trainname,jdbcType=VARCHAR},
      tname = #{tname,jdbcType=VARCHAR},
      start = #{start,jdbcType=VARCHAR},
      end = #{end,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      info = #{info,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <insert id="addmusic" useGeneratedKeys="true" keyProperty="id">
        insert into t_music (musicname,author,launchtime,info,price) values(#{musicname},#{author},#{launchtime},#{info},#{price})
    </insert>

    <update id="updmusic">
        update t_music set musicname=#{musicname},author=#{author},launchtime=#{launchtime},info=#{info},price=#{price} where id=#{id}
    </update>

    <delete id="delmusic">
        delete from t_music where id=#{id}
    </delete>
    <update id="updCar">
        update t_car set carName = #{carName},typeName = #{typeName},carPrice = #{carPrice},carDate = #{carDate}
    </update>
</mapper>